@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

ol,
ul,
menu {
  padding-inline-start: 1.5em;
  list-style: disc;
  list-style-position: outside;
}
